body {
    overflow: hidden;

    margin: 0%;
    padding: 0%;

    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://www.wallpapertip.com/wmimgs/1-15554_abstract-gaming-wallpaper-4k.jpg);
    background-attachment: fixed;

}

#containerGame {
    margin-top: 3%;
}

.cardT {
    margin: 2px;
    width: 190px;
    height: 280px;
    padding: 0%;
}

#cardFront {
    height: 280px;
    width: 100%;

    background: linear-gradient(0deg, #2c8de33d, #9baab94f), url(https://fotos.subefotos.com/4a251f003817e2ecf23cd173450d6edco.jpg) no-repeat;
    background-size: cover;

    border: 2px solid;
    border-radius: 8px;
    box-shadow: 0px 10px 30px 20px rgba(0,0,0,0.75);
}

#cardsContainer #cardFront:hover {
    cursor: pointer;
    animation: text-shadow-pop-top 0.3s forwards;
}

#cardBack {
    height: 280px;
    width: 100%;

    transform: translateY(-100%) rotateY(180deg);
    background: linear-gradient(0deg, #00FF3740, rgba(9, 0, 0, 0.36)), url(https://fotos.subefotos.com/4a251f003817e2ecf23cd173450d6edco.jpg) no-repeat;
    background-size: cover;

    backface-visibility: hidden;
    border: 2px solid;
    border-radius: 8px;
    box-shadow: 0px 10px 30px 20px rgba(0,0,0,0.75);
}


@keyframes animationFlipCard {
    0%{transform: rotateY(0deg)}
    100%{transform: rotateY(180deg)}
}