@font-face {
    font-family: 'Initials_TFB';
    src: url('../font/Initials_TFB.ttf') format('truetype');
}

body {
    margin: 0%;
    padding: 0%;

    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://www.wallpapertip.com/wmimgs/1-15554_abstract-gaming-wallpaper-4k.jpg);
    background-attachment: fixed;

}

#letter {
    color: #eaeaea;
    font: normal 60px 'Initials_TFB';

}

#letter:hover {
    color: #f0f0f0;
    animation: text-shadow-pop-top 0.6s both;
}

#containerGame {
    width: 90%;
    margin-top: 3%;
}

#infoContainer {
    background-color: #011f27b0;
    border-radius: 8px;
    border: 30px solid black;
    border-image-source: url("https://www.mclibre.org/consultar/amaya/css/ejemplos/img/css3-bordes/marco-200.png");
    border-image-slice: 75;
}

#cardsContainer div {
    display: flex;
    align-items: end;

    margin: 2px;
    height: 280px;
    width: 190px;

    background: linear-gradient(0deg, #bf3f7878, #683d505c), url(https://fotos.subefotos.com/4a251f003817e2ecf23cd173450d6edco.jpg) no-repeat;
    background-size: cover;

    border: 2px solid;
    border-radius: 8px;
    box-shadow: 0px 10px 30px 20px rgba(0,0,0,0.75);

}

#cardsContainer div:hover {
    cursor: pointer;
    border: 2px solid #13a62399;
    border-radius: 15px;

}

@keyframes animationCardRotateReveal {
    0%{transform: rotateY(0deg)}
    50%{transform: rotateY(180deg)}
    50%{background: linear-gradient(0deg, #ff1a1a, #fff19c80)}
}


@keyframes text-shadow-pop-top {
    0% {
        text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        text-shadow: 0 -1px #555555, 0 -2px #555555, 0 -3px #555555, 0 -4px #555555, 0 -5px #555555, 0 -6px #555555, 0 -7px #555555, 0 -8px #555555;
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
}


